@model ASChurchManager.Web.Areas.Secretaria.ViewModels.Congregacao.CongregacaoVM

@using (Html.BeginForm("Edit", "Congregacao", FormMethod.Post, new { id = "frmCongrecacao" }))
{
    <section class="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">
                            Congregação - Edição
                        </h3>
                    </div>
                    <div class="box-body">
                        @await Html.PartialAsync("_Congregacao", Model)
                    </div>
                    <p style="clear: both" />
                    <div class="box-footer">
                        <button type="button" class="btn btn-primary" id="btnSalvar">
                            <span class="glyphicon glyphicon-floppy-saved"></span> Salvar
                        </button>
                        <a href="@Url.Action("Index", "Congregacao")" class="btn btn-default">
                            <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Voltar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<script>
    var grupos  = JSON.parse('@Html.Raw(Json.Serialize(Model.Grupos))');
    var obreiros = JSON.parse('@Html.Raw(Json.Serialize(Model.Obreiros))');
    var observacoes = JSON.parse('@Html.Raw(Json.Serialize(Model.Observacoes))');

    var arquivos = JSON.parse('@Html.Raw(Json.Serialize(Model.Arquivos))');
    var urlDownload = '@Url.Action("DownloadArquivo", "Congregacao", new { area = "Secretaria"})';
    var urlExcArq = "@Url.Action("DeleteArquivo", "Congregacao", new { Area = "Secretaria" })";
    var urlUplArq = "@Url.Action("UploadArquivo", "Congregacao", new { Area = "Secretaria" })";
    var urlArqJaExiste = "@Url.Action("ArquivoJaExiste", "Congregacao", new { Area = "Secretaria" })";
    var urlBuscarRespons = "@Url.Action("BuscarPastorRespEObreiros", "Congregacao", new { Area = "Secretaria" })";
</script>

@section scripts
{
    <script src="~/js/congregacao.min.js"></script>
    <script src="~/js/shared_endereco.min.js"></script>
}