@using ASChurchManager.Web.Lib

<!DOCTYPE html>
<html>
<head>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="~/css/plugins/jQueryUI/jquery-ui-1.10.3.custom.min.css" />
    <link rel="stylesheet" href="~/css/plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/plugins/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/plugins/ionicons/css/ionicons.min.css" />
    <link rel="stylesheet" href="~/css/plugins/sweetalert2/sweetalert2.min.css">
    <link rel="stylesheet" href="~/css/plugins/adminlte/AdminLTE.min.css" />
    <link rel="stylesheet" href="~/css/plugins/adminlte/skins/_all-skins.min.css" />
    <link rel="stylesheet" href="~/css/plugins/morris/morris.css" />
    <link rel="stylesheet" href="~/css/plugins/jvectormap/jquery-jvectormap.min.css" />
    <link rel="stylesheet" href="~/css/plugins/datepicker/datepicker.min.css" />
    <link rel="stylesheet" href="~/css/plugins/bootstrap-daterangepicker/daterangepicker.min.css" />
    <link rel="stylesheet" href="~/css/plugins/bootstrap-toggle/bootstrap-toggle.min.css" />
    <link rel="stylesheet" href="~/css/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" />
    <link rel="stylesheet" href="~/css/plugins/jquery.fancybox/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="~/css/plugins/jtable/themes/lightcolor/blue/jtable.min.css" />
    <link rel="stylesheet" href="~/css/plugins/icheck/square/square.css" />
    <link rel="stylesheet" href="~/css/plugins/bootstrap-dialog/bootstrap-dialog.min.css" />
    <link rel="stylesheet" href="~/css/plugins/waitMe/waitMe.min.css" />
    <link rel="stylesheet" href="~/css/app/layout.min.css" />
    <link rel="stylesheet" href="~/css/plugins/timepicker/bootstrap-timepicker.min.css" />
</head>
<body>
    <div class="wrapper">
        <section class="content">
            <div class="row">
                <section class="col-lg-12 ">
                    @RenderBody()
                </section>
            </div>
        </section>
    </div>
    <script src="~/lib/jquery.min.js"></script>
    <script src="~/lib/jquery-ui.min.js"></script>
    <script src="~/lib/jquery.mask.min.js"></script>
    <script src="~/lib/jquery.validate.min.js"></script>
    <script src="~/lib/additional-methods.min.js"></script>
    <script src="~/lib/localization.min.js"></script>
    <script src="~/lib/jshashtable.min.js"></script>
    <script src="~/lib/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <script src="~/lib/bootstrap.min.js"></script>
    <script src="~/lib/jquery.sparkline.min.js"></script>
    <script src="~/lib/jquery-jvectormap.min.js"></script>
    <script src="~/lib/jquery.knob.min.js"></script>
    <script src="~/lib/daterangepicker.min.js"></script>
    <script src="~/lib/fastclick.min.js"></script>
    <script src="~/lib/adminlte.min.js"></script>
    <script src="~/lib/chart.min.js"></script>
    <script src="~/lib/fancybox.min.js"></script>
    <script src="~/lib/icheck.min.js"></script>
    <script src="~/lib/sweetalert2.min.js"></script>
    <script src="~/lib/qtip.min.js"></script>
    <script src="~/lib/waitMe.min.js"></script>
    <script src="~/lib/jtable.min.js"></script>
    <script src="~/js/_core.min.js"></script>
    <script src="~/js/_defaultSettings.min.js"></script>
    <script src="~/js/layout.min.js"></script>

    @RenderSection("scripts", required: false)

    @{
        if (TempData.ContainsKey("AlertMessage"))
        {
            var alertMsg = Newtonsoft.Json.JsonConvert.DeserializeObject<AlertMessage>(@TempData["AlertMessage"].ToString());
            <script type="text/javascript">
                $.bsMessage("@alertMsg.Title", "@alertMsg.Message", "@alertMsg.Type.ToString()");
            </script>
        }
        @Html.Hidden("hdnUsuarioCongregacaoId", UserAppContext.Current.Usuario.Congregacao.Id)
        @Html.Hidden("hdnUsuarioSede", UserAppContext.Current.Usuario.Congregacao.Sede)
    }
</body>
</html>

