@model ASChurchManager.Web.ViewModels.Shared.RelatorioViewModel

<section class="content">
    <div class="row" />
    <div class="col-lg-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">
                    Relatório de Casamentos
                </h3>
            </div>
            <div class="box-body">
                <div>
                    <fieldset>
                        <legend>Filtros</legend>
                        <div class="col-sm-8">
                            @Html.LabelFor(model => model.Congregacao, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.Congregacao, Model.SelectCongregacoes, "Todas", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Congregacao, "", new { @class = "text-danger" })
                        </div>
                        <p style="clear: both" />
                        <div class="col-sm-4">
                            @Html.LabelFor(model => model.DataInicio, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.DataInicio, new { htmlAttributes = new { @class = "form-control datepicker" } })
                            @Html.ValidationMessageFor(model => model.DataInicio, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-4">
                            @Html.LabelFor(model => model.DataFinal, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.DataFinal, new { htmlAttributes = new { @class = "form-control datepicker" } })
                            @Html.ValidationMessageFor(model => model.DataFinal, "", new { @class = "text-danger" })
                        </div>
                        <p style="clear: both" />
                        <div class="col-sm-4">
                            @Html.LabelFor(model => model.TipoSaida, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.TipoSaida, Model.SelectTipoSaida, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TipoSaida, "", new { @class = "text-danger" })
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="box-footer">
                <button type="button" class="btn btn-primary" id="btnRelCasamento">
                    <span class="glyphicon glyphicon-print"></span> Gerar Relatório
                </button>
                <a href="@Url.Action("Index", "", new { area = "" })" class="btn btn-default">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Voltar
                </a>
            </div>
        </div>
    </div>
</section>

<script>
    var urlCasam = "@Url.Action("RelatorioCasamentos", "Relatorios", new { Area = "Secretaria" })";
</script>

@section scripts{
    <script type="text/javascript" src="~/js/relatorios.min.js"></script>
}